h4 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
}
.customButton{
    height: 24px;
    padding: 0px 12px;
    margin-top: 5px;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 10px;
    margin-top: 4px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 34px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 18px;
    left: -4px;
    margin-top: 4px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 18px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

#my-div .ng2-datetime-picker {
  background-color: blue;
}